---
import { format } from 'date-fns';
import type {  Post } from '~/lib/types';

interface Props {
  class?: string;
  data : Post
  readingTime?: string;
}

const { class: className, data, readingTime } = Astro.props;
---

<div class={className}>
  <h1 class="font-display text-5xl font-bold">{data.title}</h1>
  <div class="text-text-2">
    <span>{format(data.created, 'MMM dd, yyyy')}</span>
    {readingTime && <span>· {readingTime}</span>}
  </div>
</div>
